<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @kibera_child.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @kibera_child.lastName %>
</p>


<%= link_to 'Edit', edit_kibera_child_path(@kibera_child) %> |
<%= link_to 'Back', kibera_children_path %>
