<div class="image-left">
    <%= link_to image_tag("new-hope-logo.jpg", :border=>0), "/" %> 
    <span style="color:#8daf3f;font-size:48px;letter-spacing:5px;">New Hope</span></br>
    <span>Initiative</span>
</div>
<div>
    <ul>
          <% if current_user %>
            <li><%= link_to_unless_current("Home", "/") %></li>
            <li>Import/Export</li>
            <li><%= link_to_unless_current  "Edit Profile", edit_user_path(:current) %></li>
            <li><%= link_to_unless_current "Admin", { :controller => "administration", :action => "index" } %></li>
            <li><%= link_to "Logout", logout_path %></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
    </ul>
</div>